<section class="page__index" data-ng-controller="catalogController">
  <h1>Самое незаметное издательство</h1>
  <p class="page__notice mob-hide">Перетаскивайте книги ниже с места на место. Это то, чем мы любим больше всего заниматься. Попробуйте, вам понравится. </p>
  <div class="catalog" data-ng-model="books">
    <div id="{{book.id}}" class="books__elem" data-ng-repeat="book in books | limitTo: countBooksShow | filter: findPhrase">
      <figure>
        <a data-ng-href="#/book/{{book.id}}" class="link__book" data-ng-click="getBook(book.id)"><img src="#" data-ng-src="{{book.cover.small}}" alt="{{book.title}}"></a>
        <figcaption>
          <div class="book__info" data-ng-bind-html="trustAsHtml(book.info)"></div>
        </figcaption>
      </figure>
    </div>
  </div>
  <input type="button" class="button__more" data-ng-click="countBooksShow = countBooksShow + 4" data-ng-init="countBooksShow = 4" data-ng-hide="countBooksShow > books.length" value="Еще несколько книг"/>
  <script src="js/sortable.js"></script>
</section>