@font-face {
  font-family: 'Alsfuchsia';
  src: url('../fonts/alsfuchsia.eot');
  src: local('☺'), url('../fonts/alsfuchsia.woff') format('woff'), url('../fonts/alsfuchsia.ttf') format('truetype'), url('../fonts/alsfuchsia.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}